<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí sân bay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
    
  </style>
</head>
<body>
  <div id="preloader">
    <div class="spinner">
      <img src="{{ url_for('static', filename='images/wings.png') }}" alt="Avatar" class="avatar">
    </div>
  </div>
  <header>
      <h1>Quản lí sân bay</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#dashboard">Dashboard</a></li>
      <li>
        <a href="#create-data">Tạo dữ liệu </a>
        <ul>
          <li><a href="#customer-info">Khách hàng</a></li>
          <li><a href="#employee-info">Nhân viên</a></li>
          <li><a href="#airport-info">Sân bay</a></li>
          <li><a href="#aircraft-info">Máy bay</a></li>
          <li><a href="#flight-info">Chuyến bay</a></li>
          <li><a href="#schedule-info">Lịch bay</a></li>
        </ul>
      </li>
      <li>
        <a href="#exploit-data">Khai thác dữ liệu </a>
        <ul>
          <li><a href="#airline-info">Đặt chỗ</a></li>
          <li><a href="#assignment-info">Phân công</a></li>
        </ul>
      </li>
    </ul>
  </nav>
    <main>
        <section id="flight-info">
            <h2>Quản lý thông tin chuyến bay</h2>
          
            <!-- Form để thêm chuyến bay mới -->
            <form method="POST" action="{{ url_for('them_cb') }}">
              <label for="flight-id">Mã chuyến bay:</label>
              <input type="text" id="flight-id" name="flight-id" required><br>
              <label for="departure-airport">Sân bay đi:</label>
              <input type="text" id="departure-airport" name="departure-airport" placeholder="Nhập Sân bay đi"><br>
              <label for="arrival-airport">Sân bay đến:</label>
              <input type="text" id="arrival-airport" name="arrival-airport" placeholder="Nhập Sân bay đến"><br>
              <label for="departure-time">Giờ đi:</label>
              <input type="datetime-local" id="departure-time" name="departure-time" required><br>
              <label for="arrival-time">Giờ đến:</label>
              <input type="datetime-local" id="arrival-time" name="arrival-time" required><br>
              <button type="submit">Thêm chuyến bay mới</button>
            </form>
          
            <!-- Form để sửa chuyến bay -->
            <form method="POST" action="{{ url_for('sua_cb') }}">
              <label for="edit-flight-id">Mã chuyến bay:</label>
              <input type="text" id="edit-flight-id" name="flight-id" required><br>
              <label for="edit-departure-airport">Sân bay đi:</label>
              <input type="text" id="edit-departure-airport" name="departure-airport"><br>
              <label for="edit-arrival-airport">Sân bay đến:</label>
              <input type="text" id="edit-arrival-airport" name="arrival-airport"><br>
              <label for="edit-departure-time">Giờ đi:</label>
              <input type="datetime-local" id="edit-departure-time" name="departure-time" required><br>
              <label for="edit-arrival-time">Giờ đến:</label>
              <input type="datetime-local" id="edit-arrival-time" name="arrival-time" required><br>
              <button type="submit">Lưu thay đổi</button>
            </form>
          
            <!-- Bảng hiển thị thông tin chuyến bay -->
            <table>
              <thead>
                <tr>
                  <th>Mã chuyến bay</th>
                  <th>Sân bay đi</th>
                  <th>Sân bay đến</th>
                  <th>Giờ đi</th>
                  <th>Giờ đến</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {% for row in flight_info %}
                <tr>
                  <td>{{ row.MaChuyenBay }}</td>
                  <td>{{ row.TenSanBayDi }}</td>
                  <td>{{ row.TenSanBayDen }}</td>
                  <td>{{ row.GioDi.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                  <td>{{ row.GioDen.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('xoa_cb', flight_id=row.MaChuyenBay) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa chuyến bay này?');">
                      <button type="submit">Xóa</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        
          <section id="airport-info">
            <h2>Quản lý thông tin loại máy bay</h2>
            <!-- Form để thêm loại máy bay mới -->
            <form method="POST" action="{{ url_for('them_loai_mb') }}">
                <label for="plane-type-id">Mã loại:</label>
                <input type="text" id="plane-type-id" name="plane-type-id" required><br>
                <label for="manufacturer">Hãng sản xuất:</label>
                <input type="text" id="manufacturer" name="manufacturer" placeholder="Nhập tên hãng sản xuất" required><br>
                <button type="submit">Thêm thông tin Loại máy bay</button>
            </form>
        
            <!-- Form để sửa thông tin loại máy bay -->
            <form method="POST" action="{{ url_for('sua_loai_mb') }}">
                <label for="edit-plane-type-id">Mã loại:</label>
                <input type="text" id="edit-plane-type-id" name="plane-type-id" required><br>
                <label for="edit-manufacturer">Hãng sản xuất:</label>
                <input type="text" id="edit-manufacturer" name="manufacturer" placeholder="Nhập tên hãng sản xuất" required><br>
                <button type="submit">Lưu thay đổi</button>
            </form>
        
            <!-- Bảng hiển thị thông tin loại máy bay -->
            <table>
                <thead>
                    <tr>
                        <th>Mã loại</th>
                        <th>Hãng sản xuất</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in aircraft_info %}
                    <tr>
                        <td>{{ row['MaLoai'] }}</td>
                        <td>{{ row['HangSanXuat'] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('xoa_loai_mb', plane_type_id=row['MaLoai']) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa loại máy bay này?');">
                                <button type="submit">Xóa</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>        
        
          <script>
                var flightSelect = document.getElementById('flight-id');
                var departureDate = document.getElementById('departure-date');
                var customerSelect = document.getElementById('customer-id');
            
                flightSelect.addEventListener('change', function() {
                    var selectedFlightId = this.value;
                    var selectedCustomerId = customerSelect.value;
            
                    // Gửi yêu cầu AJAX để lấy ngày đi tương ứng với mã chuyến bay và mã khách hàng
                    fetch('/get_departure_date/' + selectedCustomerId + '/' + selectedFlightId)
                        .then(response => response.json())
                        .then(data => {
                            departureDate.value = data.departure_date;
                        })
                        .catch(error => {
                            console.error('Lỗi khi lấy ngày đi:', error);
                        });
                });
            </script>

          <section id="airline-info">
            <h2>Quản lý thông tin đặt chỗ</h2>
          
            <!-- Form để thêm thông tin đặt chỗ mới -->
            <form method="POST" action="{{ url_for('them_dat_cho') }}">
              <label for="customer-id">Mã khách hàng:</label>
              <input type="text" id="customer-id" name="customer-id" required>
              <br>

              <label for="flight-id">Mã chuyến bay:</label>
              <input type="text" id="flight-id" name="flight-id" required onchange="updateFlightDates(this.value)">
              <br>

              <label for="departure-date">Ngày đi:</label>
              <select id="departure-date" name="departure-date" required></select>
              <br>

              <button type="submit">Thêm thông tin đặt chỗ</button>
            </form>

            <!-- Form để sửa thông tin đặt chỗ -->
            <h3>hi</h3>
            <form method="POST" action="{{ url_for('sua_dat_cho') }}">
              <label for="customer-id">Mã khách hàng:</label>
              <input type="text" id="customer-id" name="customer-id" required>
              <br>
              <label for="flight-id">Mã chuyến bay:</label>
              <input type="text" id="flight-id" name="flight-id" required onchange="updateFlightDates(this.value)">
              <br>
              <label for="departure-date">Ngày đi:</label>
              <select id="departure-date" name="departure-date" required></select>
              <br>
              <button type="submit">Lưu thay đổi</button>
          </form>

            <script>
              function updateFlightDates(flightId) {
                const departureDate = document.getElementById('departure-date');
                departureDate.innerHTML = '';

                if (flightId) {
                    fetch(`/get_flight_dates?flight_id=${flightId}`)
                        .then(response => response.json())
                        .then(data => {
                            const flightDates = data.flight_dates;
                            const defaultOption = document.createElement('option');
                            defaultOption.value = '';
                            defaultOption.text = '-- Chọn ngày đi --';
                            departureDate.add(defaultOption);
                            flightDates.forEach(date => {
                                const option = document.createElement('option');
                                const formattedDate = new Date(date).toLocaleDateString('vi-VN', { day: '2-digit', month: '2-digit', year: 'numeric' });
                                option.value = date;
                                option.text = formattedDate;
                                departureDate.add(option);
                            });
                        })
                        .catch(error => console.error(error));
                } else {
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = '-- Chọn ngày đi --';
                    departureDate.add(defaultOption);
                }
            }
          </script>
          
            <!-- Bảng hiển thị thông tin đặt chỗ -->
            <table>
              <thead>
                <tr>
                  <th>Mã khách hàng</th>
                  <th>Ngày đi</th>
                  <th>Mã chuyến bay</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {% for row in booking_info %}
                <tr>
                  <td>{{ row.MaKH }}</td>
                  <td>{{ row.NgayDi }}</td>
                  <td>{{ row.MaChuyenBay }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('xoa_dat_cho', customer_id=row.MaKH, departure_date=row.NgayDi, flight_id=row.MaChuyenBay) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa đặt chỗ này?');">
                      <button type="submit">Xóa</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        
        
          <section id="aircraft-info">
            <h2>Quản lý thông tin máy bay</h2>
            <form method="POST" action="{{ url_for('them_mb') }}">
                <label for="plane-id">Số hiệu:</label>
                <input type="text" id="plane-id" name="plane-id" required><br>
                <label for="plane-type-id">Mã loại:</label>
                <input type="text" id="plane-type-id" name="plane-type-id" required><br>
                <label for="seat-quantity">Số lượng ghế:</label>
                <input type="text" id="seat-quantity" name="seat-quantity" required><br>
                <button type="submit">Thêm máy bay mới</button>
            </form>
        
            <!-- Form để sửa thông tin máy bay -->
            <form method="POST" action="{{ url_for('sua_mb') }}">
                <label for="edit-plane-id">Số hiệu:</label>
                <input type="text" id="edit-plane-id" name="plane-id" required><br>
                <label for="edit-plane-type-id">Mã loại:</label>
                <input type="text" id="edit-plane-type-id" name="plane-type-id" required><br>
                <label for="edit-seat-quantity">Số lượng ghế:</label>
                <input type="text" id="edit-seat-quantity" name="seat-quantity" required><br>
                <button type="submit">Lưu thay đổi</button>
            </form>
        
            <!-- Bảng hiển thị thông tin máy bay -->
            <table>
              <thead>
                <tr>
                  <th>Số hiệu</th>
                  <th>Loại máy bay</th>
                  <th>Số lượng ghế</th>
                </tr>
              </thead>
              <tbody>
                {% for plane in plane_info %}
                <tr>
                  <td>{{ plane.SoHieu }}</td>
                  <td>{{ plane.MaLoai }}</td>
                  <td>{{ plane.SoGheNgoi }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>            
        </section>                
             
        
          <section id="customer-info">
            <h2>Quản lý thông tin khách hàng</h2>
            <form method="POST" action="{{ url_for('them_kh') }}">
              <label for="customer-id">Mã khách hàng:</label>
              <input type="text" id="customer-id" name="customer-id" required><br>
              <label for="customer-phone">Số điện thoại:</label>
              <input type="text" id="customer-phone" name="customer-phone" placeholder="Nhập số điện thoại"><br>
              <label for="customer-last-name">Họ đệm:</label>
              <input type="text" id="customer-last-name" name="customer-last-name" placeholder="Nhập họ đệm"><br>
              <label for="customer-first-name">Tên:</label>
              <input type="text" id="customer-first-name" name="customer-first-name" placeholder="Nhập tên"><br>
              <label for="customer-address">Địa chỉ:</label>
              <input type="text" id="customer-address" name="customer-address" placeholder="Nhập địa chỉ"><br>
              <button type="submit">Thêm thông tin khách hàng</button>
            </form>
            <form method="POST" action="{{ url_for('sua_kh') }}">
                <label for="edit-customer-id">Mã khách hàng:</label>
                <input type="text" id="edit-customer-id" name="customer-id" required><br>
                <label for="edit-customer-phone">Số điện thoại:</label>
                <input type="text" id="edit-customer-phone" name="customer-phone" placeholder="Nhập số điện thoại"><br>
                <label for="edit-customer-last-name">Họ đệm:</label>
                <input type="text" id="edit-customer-last-name" name="customer-last-name" placeholder="Nhập họ đệm"><br>
                <label for="edit-customer-first-name">Tên:</label>
                <input type="text" id="edit-customer-first-name" name="customer-first-name" placeholder="Nhập tên"><br>
                <label for="edit-customer-address">Địa chỉ:</label>
                <input type="text" id="edit-customer-address" name="customer-address" placeholder="Nhập địa chỉ"><br>
                <button type="submit">Lưu thay đổi</button>
              </form>
            <table>
              <thead>
                <tr>
                  <th>Mã khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Họ đệm</th>
                  <th>Tên</th>
                  <th>Địa chỉ</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {% for row in customer_info %}
                <tr>
                  <td>{{ row.MaKH }}</td>
                  <td>{{ row.SDT }}</td>
                  <td>{{ row.HoDem }}</td>
                  <td>{{ row.Ten }}</td>
                  <td>{{ row.DiaChi }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('xoa_kh', customer_id=row.MaKH) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa khách hàng này?');">
                      <button type="submit">Xóa</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>        
        
          <section id="employee-info">
            <h2>Quản lý thông tin nhân viên</h2>
            <form method="POST" action="{{ url_for('them_nv') }}">
              <label for="employee-id">Mã nhân viên:</label>
              <input type="text" id="employee-id" name="employee-id" required><br>
              <label for="employee-last-name">Họ đệm:</label>
              <input type="text" id="employee-last-name" name="employee-last-name" placeholder="Nhập họ đệm"><br>
              <label for="employee-first-name">Tên:</label>
              <input type="text" id="employee-first-name" name="employee-first-name" placeholder="Nhập tên"><br>
              <label for="employee-phone">Số điện thoại:</label>
              <input type="text" id="employee-phone" name="employee-phone" placeholder="Nhập số điện thoại"><br>
              <label for="employee-address">Địa chỉ:</label>
              <input type="text" id="employee-address" name="employee-address" placeholder="Nhập địa chỉ"><br>
              <label for="employee-salary">Lương:</label>
              <input type="text" id="employee-salary" name="employee-salary" placeholder="Nhập lương"><br>
              <label for="employee-type">Loại nhân viên:</label>
              <input type="text" id="employee-type" name="employee-type" placeholder="Nhập loại nhân viên"><br>
              <button type="submit">Thêm thông tin nhân viên</button>
            </form>

            <table>
              <thead>
                <tr>
                  <th>Mã nhân viên</th>
                  <th>Họ đệm</th>
                  <th>Tên</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th>Lương</th>
                  <th>Loại nhân viên</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {% for row in employee_info %}
                <tr>
                  <td>{{ row.MaNV }}</td>
                  <td>{{ row.HoDem }}</td>
                  <td>{{ row.Ten }}</td>
                  <td>{{ row.SDT }}</td>
                  <td>{{ row.DiaChi }}</td>
                  <td>{{ row.Luong }}</td>
                  <td>{{ row.LoaiNV }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('xoa_nv', employee_id=row.MaNV) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa nhân viên này?');">
                      <button type="submit">Xóa</button>
                    </form>
                    <form method="POST" action="{{ url_for('sua_nv', employee_id=row.MaNV) }}">
                        <input type="hidden" name="employee-id" value="{{ row.MaNV }}">
                        <label for="edit-employee-last-name">Họ đệm:</label>
                        <input type="text" id="edit-employee-last-name" name="employee-last-name" value="{{ row.HoDem }}" required><br>
                        <label for="edit-employee-first-name">Tên:</label>
                        <input type="text" id="edit-employee-first-name" name="employee-first-name" value="{{ row.Ten }}" required><br>
                        <label for="edit-employee-phone">Số điện thoại:</label>
                        <input type="text" id="edit-employee-phone" name="employee-phone" value="{{ row.SDT }}" required><br>
                        <label for="edit-employee-address">Địa chỉ:</label>
                        <input type="text" id="edit-employee-address" name="employee-address" value="{{ row.DiaChi }}" required><br>
                        <label for="edit-employee-salary">Lương:</label>
                        <input type="text" id="edit-employee-salary" name="employee-salary" value="{{ row.Luong }}" required><br>
                        <label for="edit-employee-type">Loại nhân viên:</label>
                        <input type="text" id="edit-employee-type" name="employee-type" value="{{ row.LoaiNV }}" required><br>
                        <button type="submit">Lưu thay đổi</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>        
        
          <section id="schedule-info">
            <!-- Form for managing flight schedule information -->
            <h2>Quản lý lịch bay</h2>
            <form method="POST" action="{{ url_for('them_lich') }}">
                <label for="flight-id">Mã chuyến bay:</label>
                <input type="text" id="flight-id" name="flight-id" placeholder="" required><br>
                <label for="aircraft-id">Số hiệu máy bay:</label>
                <input type="text" id="aircraft-id" name="aircraft-id" placeholder="" required><br>
                <label for="aircraft-type-id">Mã loại máy bay:</label>
                <input type="text" id="aircraft-type-id" name="aircraft-type-id" placeholder="" required><br>
                <label for="departure-date">Ngày đi:</label>
                <input type="date" id="departure-date" name="departure-date" placeholder="Nhập ngày đi" required><br>
                <button type="submit">Thêm lịch bay mới</button>
            </form>
        
            <!-- Table for displaying flight schedule information -->
            <table>
                <thead>
                    <tr>
                        <th>Ngày đi</th>
                        <th>Mã chuyến bay</th>
                        <th>Số hiệu máy bay</th>
                        <th>Mã loại máy bay</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule_row in schedule_info %}
                    <tr>
                        <td>{{ schedule_row.NgayDi }}</td>
                        <td>{{ schedule_row.MaChuyenBay }}</td>
                        <td>{{ schedule_row.SoHieu }}</td>
                        <td>{{ schedule_row.MaLoai }}</td>
                        <td>
                            <!-- Form để sửa thông tin lịch bay -->
                            <form method="POST" action="{{ url_for('sua_lich') }}">
                                <input type="hidden" name="schedule-id" value="{{ schedule_row.MaChuyenBay }}">
                                <label for="edit-flight-id">Mã chuyến bay:</label>
                                <input type="text" id="edit-flight-id" name="flight-id" value="{{ schedule_row.SoHieu }}" required><br>
                                <label for="edit-aircraft-id">Số hiệu máy bay:</label>
                                <input type="text" id="edit-aircraft-id" name="aircraft-id" value="{{ schedule_row.MaLoai }}" required><br>
                                <label for="edit-aircraft-type-id">Mã loại máy bay:</label>
                                <input type="text" id="edit-aircraft-type-id" name="aircraft-type-id" value="{{ schedule_row.NgayDi }}" required><br>
                                <label for="edit-departure-date">Ngày đi:</label>
                                <input type="date" id="edit-departure-date" name="departure-date" value="{{ schedule_row.NgayDi }}" required><br>
                                <button type="submit">Lưu thay đổi</button>
                            </form>
        
                            <!-- Form để xóa lịch bay -->
                            <form method="POST" action="{{ url_for('xoa_lich') }}">
                              <input type="hidden" name="flight-id" value="{{ schedule_row.MaChuyenBay }}"> <!-- Add this line -->
                              <input type="hidden" name="schedule-id" value="{{ schedule_row.MaLichBay }}">
                              <button type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa lịch bay này?');">Xóa</button>
                          </form>
                                               

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>        
        
        <section id="assignment-info">
          <h2>Quản lý phân công</h2>
          <form method="POST" action="{{ url_for('them_phan_cong') }}">
              <label for="customer-id">Mã khách hàng:</label>
              <select id="customer-id" name="customer-id" required>
                  {% for customer in customer_info %}
                      <option value="{{ customer.MaKH }}">{{ customer.MaKH }} - {{ customer.HoDem }} {{ customer.Ten }}</option>
                  {% endfor %}
              </select><br>
              <label for="new-departure-date">Ngày đi:</label>
              <input type="date" id="departure-date" name="departure-date" value="{{ assignment_info.NgayDi }}" required><br>
              <label for="schedule-id">Mã lịch bay:</label>
              <select id="schedule-id" name="schedule-id" required>
                  {% for flight in flight_info %}
                      <option value="{{ flight.MaChuyenBay }}">{{ flight.MaChuyenBay }} - {{ flight.TenSanBayDi }} - {{ flight.TenSanBayDen }}</option>
                  {% endfor %}
              </select><br>
   
              <button type="submit">Thêm phân công mới</button>
          </form>

          <form method="POST" action="{{ url_for('sua_phan_cong', customer_id=assignment_info.MaKH, departure_date=assignment_info.NgayDi, flight_id=assignment_info.MaChuyenBay) }}">
            <label for="new-customer-id">Mã khách hàng:</label>
            <select id="new-customer-id" name="new-customer-id" required>
                {% for customer in customer_info %}
                    <option value="{{ customer.MaKH }}" {% if customer.MaKH == assignment_info.MaKH %}selected{% endif %}>{{ customer.MaKH }} - {{ customer.HoDem }} {{ customer.Ten }}</option>
                {% endfor %}
            </select><br>

            <label for="new-departure-date">Ngày đi:</label>
            <input type="date" id="new-departure-date" name="new-departure-date" value="{{ assignment_info.NgayDi }}" required><br>

            <label for="new-flight-id">Mã chuyến bay:</label>
            <select id="new-flight-id" name="new-flight-id" required>
                {% for flight in flight_info %}
                    <option value="{{ flight.MaChuyenBay }}" {% if flight.MaChuyenBay == assignment_info.MaChuyenBay %}selected{% endif %}>{{ flight.MaChuyenBay }} - {{ flight.TenSanBayDi }} - {{ flight.TenSanBayDen }}</option>
                {% endfor %}
            </select><br>

            <button type="submit">Lưu thay đổi</button>
        </form>
   
          <!-- Bảng hiển thị thông tin phân công -->
          <table>
              <thead>
                  <tr>
                      <th>Mã khách hàng</th>
                      <th>Ngày đi</th>
                      <th>Mã chuyến bay</th>
                      <th>Thao tác</th>
                  </tr>
              </thead>
              <tbody>
                  {% for row in booking_info %}
                  <tr>
                      <td>{{ row.MaKH }}</td>
                      <td>{{ row.NgayDi }}</td>
                      <td>{{ row.MaChuyenBay }}</td>
                      <td>
                          <form method="POST" action="{{ url_for('xoa_phan_cong', customer_id=row.MaKH, departure_date=row.NgayDi, flight_id=row.MaChuyenBay) }}">
                              <input type="hidden" name="customer-id" value="{{ row.MaKH }}">
                              <input type="hidden" name="departure-date" value="{{ row.NgayDi }}">
                              <input type="hidden" name="flight-id" value="{{ row.MaChuyenBay }}">
                              <button type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa phân công này?');">Xóa</button>
                          </form>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </section>        

    </main>
    <footer>
        <p>&copy; 2024 Quản lí sân bay. All rights reserved by Nam Nguyen & Tran Binh.</p>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          document.getElementById('preloader').classList.add('hidden');
          document.body.classList.add('loaded');
        }, 3000); 
      });
    
      window.addEventListener('load', function() {
        setTimeout(function() {
          if (!document.body.classList.contains('loaded')) {
            document.getElementById('preloader').classList.add('hidden');
            document.body.classList.add('loaded');
          }
        }, 500);
      });
    </script>
</body>
</html>